
<div class="container">
  <div class="row">
  <body class="bgimg">
  <div class="mainbox">
   </div>
    <div class="largetext">
      <h1>Capture the moments that take your breath away</h1>
      <div class="button">
        <div class="btn btn-primary">
          <button> <%= link_to "Login with Instagram", oauth_connect_path %> </button>
        </div>
      </div>
    </div>

  </body>
  </div>
</div>




