<div class="container">
  <div class="row">
  <div class="jumbotron">
  <h1 class="eventname">
    <%= @event_name %>
  </h1>
  <h2 class="hashtag"> #<%= @query %></h2>


  </div>
    <div class ="backbutton">
    <button type="button" class="btn btn-success btn-md glyphicon glyphicon-arrow-left"> <%= link_to 'Back', user_index_path %></button>
    </div>

    <div class="well">

      <% @tags.each do |item| %>
        <%= image_tag item['images']['low_resolution']['url'] %>
      <% end %>
    </div>
  </div>
</div>
