<div class="container">
  <div class="row">

<h1>User Show Results</h1>
<div class="well">
<% @tags.each do |item| %>
  <%= image_tag item['images']['low_resolution']['url'] %>
<% end %>
</div>
  </div>
</div>
